<!-- <form #leadForm="ngForm" (ngSubmit)="onSubmit(leadForm)">
  <div class="form-group">
    <label for="id">ID</label>
    <input type="text" id="id" formControlName="id" class="form-control" />
    <div *ngIf="submitted && f['id'].errors" class="invalid-feedback">
      <div *ngIf="f['id'].errors['required']">ID is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input type="text" id="name" formControlName="name" class="form-control" />
    <div *ngIf="submitted && f['name'].errors" class="invalid-feedback">
      <div *ngIf="f['name'].errors['required']">Name is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="mobile">Mobile</label>
    <input type="text" id="mobile" formControlName="mobile" class="form-control" />
    <div *ngIf="submitted && f['mobile'].errors" class="invalid-feedback">
      <div *ngIf="f['mobile'].errors['required']">Mobile is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="email" id="email" formControlName="email" class="form-control" />
    <div *ngIf="submitted && f['email'].errors" class="invalid-feedback">
      <div *ngIf="f['email'].errors['required']">Email is required</div>
      <div *ngIf="f['email'].errors['email']">Invalid email</div>
    </div>
  </div>
  <div class="form-group">
    <label for="address">Address</label>
    <input type="text" id="address" formControlName="address" class="form-control" />
    <div *ngIf="submitted && f['address'].errors" class="invalid-feedback">
      <div *ngIf="f['address'].errors['required']">Address is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="interestedProducts">Interested Products</label>
    <input type="text" id="interestedProducts" formControlName="interestedProducts" class="form-control" />
    <div *ngIf="submitted && f['interestedProducts'].errors" class="invalid-feedback">
      <div *ngIf="f['interestedProducts'].errors['required']">Interested products are required</div>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Register</button>
</form> -->



<div class="card" style="width: 90rem; height: 49rem;">
  <div class="card-body">
    <h1 class="card-title" style="text-align: center;text-shadow: 0 0 3px #FF0000;">Registration</h1><br>
    <form #myform="ngForm" (ngSubmit)="AddUser(myform)">
      <table style="margin: auto;">
          <tr>
            <td><h5>LeadId</h5></td>
            <td><input type="text" name="id" id="id" ngModel required #myid="ngModel"></td>
          </tr>
          <tr>
              <td><h5>Name</h5> </td>
              <td><input type="text" name="name" id="name" ngModel required #myName="ngModel"></td>
          </tr>
          <tr>
              <td><h5>Mobile </h5></td>
              <td><input type="text" name="mobile" id="mobile" ngModel required #myPhone="ngModel"></td>
          </tr>
          <tr>
            <td><h5>Email</h5> </td>
            <td><input type="text" name="email" id="email" ngModel required #myEmail="ngModel"></td>
        </tr>
          <tr>
              <td><h5>Address</h5></td>
              <td><input type="text" name="address" id="address" ngModel required #myaddress="ngModel"></td>
          </tr>
          <tr>
              <td><h5>Interested Products</h5> </td>
              <td><input type="text" name="interestedProducts" id="interestedProducts" ngModel required #myinterestedProductst="ngModel"></td>
          </tr>
         
          <tr>
              <td><h5>Password </h5></td>
              <td><input type="password" name="password" id="password" ngModel required #myPassword="ngModel"></td>
          </tr>
      </table><br>
      <button type="submit" class="btn btn-success" [disabled]="myform.invalid" style="margin-left: 30%;">Submit</button>
      <br><br>
      <a href="Login" class="btn btn-primary" style="margin-left: 30%;">Back</a>
    </form><br>
  </div>
</div>
