<div class="card" style="width: 90rem; height: 30rem;">
  <div class="card-body">
    <h1 class="card-title" style="text-align: center; text-shadow: 0 0 3px #0b0c0c;">Login</h1><br>
    <form #myform1="ngForm" (ngSubmit)="addvalidation(myform1)">
      <table style="margin: auto;">
        <tr>
          <td><h5>Username</h5></td>
          <td><input type="Name" name="Name1" id="Name" ngModel required #myEmail="ngModel"></td>
        </tr>
        <tr>
          <td><h5>Password</h5></td>
          <td><input type="password" name="Password1" id="Password" ngModel required #myPassword="ngModel"></td>
        </tr>
      </table><br>
      <div class="d-flex justify-content-space around">
        <button type="submit" class="btn btn-success me-2" [disabled]="myform1.invalid">Submit</button>
        <button type="button" class="btn btn-primary" (click)="onRegister()">Register</button>
      </div>
      <br><br>
    </form><br>
  </div>
</div>
